<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Jint" version="2.5.0" targetFramework="win81" />
  <package id="MentalCardGame" version="1.0.0.0" targetFramework="win81" />
  <package id="Microsoft.ApplicationInsights" version="1.1.0" targetFramework="win81" />
  <package id="Microsoft.ApplicationInsights.PersistenceChannel" version="1.1.0" targetFramework="win81" />
  <package id="Microsoft.ApplicationInsights.WindowsApps" version="1.1.0" targetFramework="win81" />
  <package id="Midgard.CompositeCollection" version="1.0.5322.25929" targetFramework="win81" />
</packages>